<h1 mat-dialog-title>Add User</h1>
<div mat-dialog-content>
<div class="name-field">
    <mat-form-field class="mr-16" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Placeholder"> 
      </mat-form-field>
 
</div>

<div class="datepicker">

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Birthdate</mat-label>
        <input matInput placeholder="Placeholder" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

</div>

<div class="adress-area">

    <mat-form-field class="full-width"  appearance="fill">
        <mat-label>Adress</mat-label>
        <input matInput placeholder="Placeholder"> 
      </mat-form-field>

</div>

<div class="city-area">

    <mat-form-field class="mr-16" appearance="fill">
        <mat-label>Zip</mat-label>
        <input matInput placeholder="Placeholder"> 
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput placeholder="Placeholder"> 
      </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button>Cancel</button>
  <button mat-button  cdkFocusInitial>Save</button>
</div>
