.mr-16{

    margin-right:  16px;
}

.full-width{

    width: 100%;

}


.progress-bar {

    position: relative;
}
.mat-progress-bar {

    position: absolute;
    left: -24px;
    right: -24px;
    top: -24px;
    width: calc(100% + 48px);
}