.example-Container {

    height: 100vh;
    
}

.menu-icon {

    cursor: pointer;
    margin-right: 25px;
}

.sidenav {

    width: 300px;

}

.logo {

    display: flex;
    justify-content:center;
}
.logo img {

   height: 45px;
   width: 130px;
    padding: 16px;
    

}

.list-menu {

    list-style: none;
    padding-left: 0;

    li {

        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

}

   
.list-menu li:hover {

    background-color: rgba(0,0,0,0.3);
}

.toolbar {

    background-color: lightcoral;
}

.router-container{

    padding-left: 56px;
    padding-top: 16px;
    padding-right: 56px;

}