

<mat-drawer-container class="example-Container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo"><img src="assets/img/logo.png" alt=""></div>
    <ul class="list-menu">

      <li routerLink="/"><mat-icon><span class="material-icons-outlined">
        home
        </span></mat-icon>Home</li>
      <li routerLink="/user"><mat-icon><span class="material-icons-outlined">
        person
        </span></mat-icon>User</li>

    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <p>
      <mat-toolbar class="toolbar">
        <mat-icon class="menu-icon" (click)="drawer.toggle()" ><span class="material-icons-outlined">menu
          </span></mat-icon>
        <span>Simple-CRM</span>
      </mat-toolbar>
    </p>
    <div class="router-container">
    <router-outlet></router-outlet>
    </div>
    
  </div>

</mat-drawer-container>